html, body { 
    height: 100%; 
}
#map{
    width: 100%;
    height: calc(100vh - 56px);   /* calc 계산하다 약자, 전체 높이에서 navbar 높이를 뺀다. */
    position:relative;
    overflow:hidden;
}


.color_box{
    background-color: gray;
}