/* Common */
/* 삭제 가능 */
.greeting_slide{
    background-color: gray;
    height: calc(100vh - 56px);
}

html,
body {
    height: 100%;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}
h1,h2,h3,h4,h5,h6,p {
    margin-bottom: 0;
}
/*********************************************/
/* Map option */
#map {
    width: 100%;
    height: calc(100vh - 56px);
    position: relative;
    overflow: hidden;
}
.map_wrap,
.map_wrap * {
    margin: 0;
    padding: 0;
    font-family: "Malgun Gothic", dotum, "돋움", sans-serif;
    font-size: 12px;
}
.map_wrap a,
.map_wrap a:hover,
.map_wrap a:active {
    color: #000;
    text-decoration: none;
}
.map_wrap {
    position: relative;
    width: 100%;
    z-index: 10;
    height: calc(100vh - 56px);
}
#menu_wrap {
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 900;
    width: 350px;
    margin: 10px 0 30px 10px;
    padding: 5px;
    font-size: 12px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 0px;
}
/*********************************************/
.address_tracking {
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 3;
    width: 350px;
    margin: 0px 0 0px 0px;
    padding: 5px;
    font-size: 12px;
    background: white;
    border-radius: 0px;
    display: none;
}
.address_tracking {
    text-align: left;
}
#keyword{
    width: 100%;
    border-radius: .25rem;
    display: block;
}
#button-addon2{
    display: inline-block;
    position: absolute;
    border: none;
    right: 10px;
    top: 10px;
    
}
/*********************************************/
.bg_white {
    background: #fff;
}
#menu_wrap hr {
    display: block;
    height: 1px;
    margin: 3px 0;
    border: 0;
    border-top: 2px solid #5f5f5f;
}
#menu_wrap .option {
    text-align: center;
}
#menu_wrap .option p {
    margin: 10px 0;
}
#placesList li {
    list-style: none;
}
#placesList .item {
    overflow: hidden;
    position: relative;
    min-height: 65px;
    border-bottom: 1px solid #888;
    cursor: pointer;
}
#placesList .item span {
    display: block;
    margin-top: 4px;
}
#placesList .item h5,
#placesList .item .info {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#placesList .item .info {
    padding: 10px 0 10px 55px;
}
#placesList .info .gray {
    color: #8a8a8a;
}
#placesList .info .jibun {
    padding-left: 26px;
    background: url(http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png)
        no-repeat;
}
#placesList .info .tel {
    color: #009900;
}
#placesList .item .markerbg {
    float: left;
    position: absolute;
    width: 36px;
    height: 37px;
    margin: 10px 0 0 10px;
    background: url(http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png)
        no-repeat;
}
#placesList .item .marker_1 {
    background-position: 0 -10px;
}
#placesList .item .marker_2 {
    background-position: 0 -56px;
}
#placesList .item .marker_3 {
    background-position: 0 -102px;
}
#placesList .item .marker_4 {
    background-position: 0 -148px;
}
#placesList .item .marker_5 {
    background-position: 0 -194px;
}
#placesList .item .marker_6 {
    background-position: 0 -240px;
}
#placesList .item .marker_7 {
    background-position: 0 -286px;
}
#placesList .item .marker_8 {
    background-position: 0 -332px;
}
#placesList .item .marker_9 {
    background-position: 0 -378px;
}
#placesList .item .marker_10 {
    background-position: 0 -423px;
}
#placesList .item .marker_11 {
    background-position: 0 -470px;
}
#placesList .item .marker_12 {
    background-position: 0 -516px;
}
#placesList .item .marker_13 {
    background-position: 0 -562px;
}
#placesList .item .marker_14 {
    background-position: 0 -608px;
}
#placesList .item .marker_15 {
    background-position: 0 -654px;
}
#pagination {
    margin: 10px auto;
    text-align: center;
}
#pagination a {
    display: inline-block;
    margin-right: 10px;
}
#pagination .on {
    font-weight: bold;
    cursor: default;
    color: #777;
}
.food_input {
    margin-top: 10px;
}
#overlay {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}
#overlay p {
    position: absolute;
    top: 50%;
    left: 39%;
    font-size: 40px;
    color: white;
    transform: translate(-28%, -55%);
}
.infowindow {
    padding:5px;
    text-align: center;
    z-index:1;
    display:block;
    width:150px;
    font-size: 1em;
    margin: 0;
    -webkit-text-stroke: 1px gray;
}
.custom_overlay_wrap {position: absolute;left: 0;bottom: 40px;width: 288px;height: 132px;margin-left: -144px;text-align: left;overflow: hidden;font-size: 12px;font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;}
.custom_overlay_wrap * {padding: 0;margin: 0;}
.custom_overlay_wrap .info {width: 286px;height: 120px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
.custom_overlay_wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
.custom_overlay_wrap .info .title {padding: 5px 0 0 10px;height: 30px;background: #eee;border-bottom: 1px solid #ddd;font-size: 18px;font-weight: bold;}
.custom_overlay_wrap .info .custom_overlay_close {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
.custom_overlay_wrap .info .custom_overlay_close:hover {cursor: pointer;}
.custom_overlay_wrap .info .body {position: relative;overflow: hidden;}
.custom_overlay_wrap .info .desc {position: relative;margin: 13px 0 0 90px;height: 75px;}
.custom_overlay_wrap .desc .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.custom_overlay_wrap .desc .jibun {font-size: 11px;color: #888;margin-top: -2px;}
.custom_overlay_wrap .info .img {position: absolute;top: 6px;left: 5px;width: 73px;height: 71px;border: 1px solid #ddd;color: #888;overflow: hidden;}
.custom_overlay_wrap .info:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px;background: url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
.custom_overlay_wrap .info .link {color: #5085BB;}
.popup_foot {
    display: none;
}
.cancel_address_tracking {
    width: 100%;
}

/*
    Detail Page
*/
.detail_content {
    min-height: calc(100vh - 56px);
    padding-bottom: 40px;
    background-color: #f3f3f3;
}
.detail_wrap {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 15px;
}
.detail_section {
    background-color: #fff;
    border: 1px solid #ebebeb;
}
.detail_section + .detail_section {
    margin-top: 10px;
}
.detail_section .top_bg {
    height: 270px;
    background-color: #fc9842;
    background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);
}
.detail_section .title_wrap {
    width: calc(100% - 60px);
    margin: -60px 30px 0;
    padding-top: 30px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
}
.detail_section .title_wrap .category_name {
    font-size: 14px;
}
.detail_section .title_wrap .btn_wrap a {
    width: 80px;
    padding: 40px 0 20px;
    color: #000;
    font-size: 14px;
    text-align: center;
}
.detail_section .ico_comm {
    overflow: hidden;
    display: block;
    width: 33px;
    height: 33px;
    margin: 0 auto;
    font-size: 1px;
    line-height: 0;
    background: url(//t1.daumcdn.net/localimg/localimages/07/2018/pc/ico_detail_190102.png)
        no-repeat;
    background-repeat: no-repeat;
    text-indent: -9999px;
}
.detail_section .ico_storemap {
    background-position: -80px -440px;
}
.detail_section .ico_route {
    background-position: -120px -440px;
}
.detail_section .ico_roadmap {
    background-position: -80px -330px;
}
.detail_section .detail_info {
    padding: 25px 80px 40px;
}
.detail_section .detail_info ul {
    padding-left: 25px;
    list-style: none;
}
.detail_section .detail_info ul li {
    position: relative;
}
.detail_section .road_address_name::before {
    content: "";
    overflow: hidden;
    display: block;
    position: absolute;
    top: 3px;
    left: -20px;
    width: 13px;
    height: 18px;
    font-size: 1px;
    line-height: 0;
    background: url(//t1.daumcdn.net/localimg/localimages/07/2018/pc/ico_detail_190102.png)
        no-repeat;
    background-repeat: no-repeat;
    text-indent: -9999px;
    background-position: -40px -30px;
}
.detail_section .address_name {
    color: #999;
}
.detail_section .phone::before {
    content: "";
    overflow: hidden;
    display: block;
    position: absolute;
    top: 5px;
    left: -22px;
    width: 15px;
    height: 15px;
    font-size: 1px;
    line-height: 0;
    background: url(//t1.daumcdn.net/localimg/localimages/07/2018/pc/ico_detail_190102.png)
        no-repeat;
    background-repeat: no-repeat;
    text-indent: -9999px;
    background-position: -100px -30px;
}
.detail_section .grade_wrap {
    display: block;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border: 1px solid #DDD;
}
.detail_section .grade_btn {
    width: 115px;
    opacity: 0.3;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    cursor: pointer;
    -ms-flex: none;
    flex: none;
}
.detail_section .grade_btn:hover,
.detail_section .grade_btn.active {
    opacity: 1;
}
.detail_section .grade_btn img {
    display: block;
    width: 70px;
    margin: 0 auto;
}
.detail_section .form-group input {
    border-color: #DDD;
    border-radius: 0;
}
.detail_section .review_submit_wrap .btn {
    border-radius: 0;
}
.top_bg_button{
    margin-top: 1%;
    margin-right: 1%;
    float: right;
}
/********** End of Detail Page ***********/
